// Defaults of this app. 
module.exports = {
    host: "127.0.0.1", //FQN or ip of this box that the server is attached too.
    port: 8080, // Incoming HTTP traffic is assigned to this port.
    hapi: {
        serverOptions: {
            cors: true,
            cache: {
                engine: require("catbox-redis"),
                partition: 'dating-with-node', // The Redis parition name under which keys are stored. Default is ''
                host: '127.0.0.1', //  The Redis server hostname. Defaults to '127.0.0.1'.
                port: 6379, // The Redis server port or unix domain socket path. Defaults to 6379.
                password: '' //  The Redis authentication password when required. If blank, auth is not sent.
            }
        }
    },
    database: {
        driver: "mysql",
        protocol: "mysql", // or "postgresql"
        database: "dating-with-node",        
        port: 3306,
        host: "127.0.0.1",
        user: "root",
        password: "",
        query: {
            pool: true,
            debug: true
        }
    },
    mail    : {
        "api-key": "",
        "api-host": "https://mandrillapp.com/api/1.0/",
    },
    cookie: {
        name: "dating-with-node",
        password: ""
    },
    login: {
        facebook: {
            clientId: "",
            clientSecret: "",
            callbackURL: "/auth/facebook/callback"
        },
        instagram: {
            clientId: "",
            clientSecret: "",
            callbackURL: "/auth/instagram/callback"
        },
        twitter: {
            clientId: "",
            clientSecret: "",
            callbackURL: "/auth/twitter/callback"
        },
        google: {
            clientId: "",
            clientSecret: "",
            callbackURL: "/auth/google/callback"
        }
    }
}